.form {
  margin-bottom: 58px;
}
.order {

  input[type=radio] {
    display: none;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=text] {
    font-size: 17px;
    font-weight: normal;
    color: #d2d2d2;
    line-height: 18px;
    width: 260px;
    border: none;
    border-bottom: 2px solid @black;
    display: block;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__unit {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 28px;
  }

  &__h3 {
    font-size: 17px;
    font-weight: bold;
    color: @light-green;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__label {
    font-size: 17px;
    font-weight: bold;
    color: @black;
    line-height: 18px;
    display: block;
    padding-bottom: 9px;
    margin-left: 62px;

    &--color {
      margin-bottom: 34px;
    }
  }

  textarea {
    min-height: 108px;
    border: 2px solid @black;
    width: 239px;
    padding-left: 15px;
    margin-top: 53px;
  }

  &__send {
    margin-left: 30px;
    background-color: @white;
  }
}
@media @tablet-widths {
  .order__unit:nth-child(2n) {
    background-color: @light-grey;
  }
}
@media @desktop-widths {
  .order__unit {
    display: flex;
  }
}
