.form {
  margin-bottom: 56px;
}

.form__unit .h3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 198px;
  height: 5px;
  border-top: 1px solid @light-green;
  margin-left: 25px;
}

.form__unit .h3__color:after {
  margin-left: 17px;
}

.form__unit .h3__name {
  padding-top: 5px;
  margin-bottom: 30px;
}

.form__unit .h3__name:after {
  margin-left: 19px;
}

.form__unit:nth-child(7) {
  padding-left: 25px;
  padding-right: 25px;
}

.form__h3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 198px;
  height: 5px;
  border-top: 1px solid @light-green;
  margin-left: 25px;
}

.form__unit--email .form__h3:after {
  margin-left: 17px;
  width: 180px;
}

.form__unit--text .form__h3:after {
  margin-left: 17px;
  width: 198px;
}

.form__label {
  font-size: 17px;
  font-weight: bold;
  color: @black;
  line-height: 18px;
  display: block;
  padding-top: 11px;
  padding-bottom: 19px;
  padding-left: 62px;
  position: relative;
  cursor: pointer;
}

.form__order {
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]+label::before,
  input[type="radio"]+label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  input[type="radio"]+label::before {
    width: 36px;
    height: 36px;
    border: 2px solid @dark-grey;
    border-radius: 50%;
    top: 0px;
    left: 0px;
  }
  input[type="radio"]+label:hover::before {
    border: 2px solid #62d1ba;
  }
  input[type="radio"]+label:active::before {
    border: 2px solid #c7c7c7;
  }
  input[type="radio"]+label::after {
    width: 12px;
    height: 12px;
    background-color: @light-green;
    border: 2px solid @light-green;
    top: 12px;
    left: 12px;
    display: none;
  }
  input[type="radio"]:checked+label::after {
    display: block;
  }
  .form__label--color {
    margin-bottom: 13px;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]+label::before,
  input[type="checkbox"]+label::after {
    content: "";
    position: absolute;
  }
  input[type="checkbox"]+label::before {
    top: 0;
    left: 0;
    width: 36px;
    height: 34px;
    border: 2px solid @dark-grey;
  }
  input[type="checkbox"]:checked+label::after {
    width: 19px;
    height: 8px;
    border-bottom: 2px solid @black;
    border-left: 2px solid @black;
    transform: rotate(-45deg);
    top: 12px;
    left: 10px;
  }
  input[type="checkbox"]+label:hover::before {
    border: 2px solid #62d1ba;
  }
  input[type="checkbox"]+label:active::before {
    border: 2px solid #c7c7c7;
  }
  input[type="text"] {
    font-size: 17px;
    font-weight: normal;
    color: #d2d2d2;
    line-height: 18px;
    width: 260px;
    border: none;
    border-bottom: 2px solid @black;
    display: block;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      border-bottom: 2px solid #62d1ba;
    }
    &:invalid {
      border-bottom: 2px solid #f0b1b1;
    }
  }
  input[type="tel"] {
    font-size: 17px;
    font-weight: normal;
    color: #d2d2d2;
    line-height: 18px;
    width: 260px;
    border: none;
    border-bottom: 2px solid @black;
    display: block;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      border-bottom: 2px solid #62d1ba;
    }
    &:invalid {
      border-bottom: 2px solid #f0b1b1;
    }
  }
  input:focus::-webkit-input-placeholder {
    color: @dark-grey;
  }
  input:focus:-moz-placeholder {
    color: @dark-grey;
  }
  input:focus:-ms-input-placeholder {
    color: @dark-grey;
  }
}

.form__unit {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 18px;
  &--name {
    margin-bottom: 30px;
  }
  &--tel {
    margin-top: 8px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 227px 10px;
  }
  &--mail {
    margin-top: 7px;
    background-image: url(../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: 224px 10px;
  }
  &--text {
    padding-top: 10px;
  }
}

.form__unit:last-child {
  margin-bottom: 0;
}

.form__h3 {
  font-size: 17px;
  font-weight: bold;
  color: @light-green;
  line-height: 16px;
  text-transform: uppercase;
}

textarea {
  min-height: 121px;
  border: 2px solid @black;
  width: 239px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 30px;
  font-size: 17px;
  line-height: 18px;
  color: #d2d2d2;
  &:hover {
    border: 2px solid #62d1ba;
  }
  &:focus::-webkit-input-placeholder {
    color: @dark-grey;
  }
  &:focus:-moz-placeholder {
    color: @dark-grey;
  }
  &:focus:-ms-input-placeholder {
    color: @dark-grey;
  }
}

.form__send {
  background-color: @white;
  margin-top: 20px;
  width: 259px;
  &:active {
    background-color: #444444;
  }
}

.form__unit--call {
  margin-bottom: 36px;
}

@media @tablet-widths {
  .form {
    padding-top: 39px;
    margin-bottom: 42px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -18px;
      width: 100%;
      height: 23px;
      background-size: auto 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      z-index: 100;
    }
  }
  .form__unit .h3:after {
    display: none;
  }
  .form__order {
    input[type=text] {
      flex-grow: 1;
      min-width: 50px;
    }
    textarea {
      min-height: 126px;
      width: 480px;
      font-size: 19px;
      line-height: 18px;
      font-weight: normal;
      padding-top: 10px;
      margin-top: 0;
    }
  }
  .form__unit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 5px;
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .form__unit .h3__name {
    margin-bottom: 200px;
  }
  .form__unit:first-child {
    height: 175px;
    padding-left: 26px;
    padding-top: 30px;
  }
  .form__unit:nth-child(2) {
    height: 265px;
    padding-top: 60px;
    padding-left: 26px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: @light-grey;
  }
  .form__unit:nth-child(3) {
    height: 263px;
    padding-top: 48px;
    padding-left: 27px;
  }
  .form__unit:nth-child(4) {
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    padding-top: 61px;
    padding-left: 30px;
    padding-right: 40px;
    background-color: @light-grey;
    .form__h3:after {
      display: none;
    }
  }
  .form__unit:nth-child(5) {
    background-color: @light-grey;
    margin-bottom: 0;
    flex-direction: row;
    padding-top: 9px;
    padding-left: 30px;
    padding-right: 40px;
    background-color: @light-grey;
    padding-bottom: 44px;
    .form__h3:after {
      display: none;
    }
  }
  .form__unit:nth-child(6) {
    flex-direction: row;
    padding-top: 66px;
    .form__h3:after {
      display: none;
    }
  }
  .form__unit:nth-child(7) {
    flex-direction: row;
    align-items: center;
  }
  .form__h3 {
    padding-left: 21px;
    display: flex;
    flex-grow: 0;
    padding-top: 10px;
    &--tel {
      margin-right: 110px;
      margin-bottom: 50px;
    }
    &--email {
      padding-top: 1px;
      margin-right: 85px;
    }
    &--text {
      margin-right: 127px;
      padding-top: 16px;
    }
  }
  input[type="text"] {
    flex-grow: 1;
    min-width: 100px;
  }
  input[type="tel"] {
    flex-grow: 1;
    min-width: 100px;
  }
  .form__label {
    margin-bottom: 20px;
    padding-top: 18px;
    display: block;
    padding-left: 80px;
    font-size: 19px;
    &--color {
      padding-bottom: 27px;
      padding-right: 79px;
      width: 100px;
    }
  }
  .form__unit {
    &--tel {
      margin-top: 0;
      background-color: transparent;
      background-position: 450px 0px;
      padding-bottom: 15px;
    }
    &--mail {
      margin-top: 0;
      background-color: transparent;
      background-position: 447px 0px;
    }
  }
  .form__name-label {
    display: flex;
    width: 510px;
    flex-shrink: 0;
    font-size: 19px;
    line-height: 18px;
    padding-top: 13px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form {
    input[type="radio"]+label::before {
      width: 47px;
      height: 47px;
      top: 2px;
      left: 0px;
    }
    input[type="radio"]:checked+label::after {
      width: 16px;
      height: 16px;
      top: 18px;
      left: 16px;
    }
    input[type="checkbox"]+label::before {
      top: 0;
      left: 0;
      width: 49px;
      height: 49px;
      border: 2px solid @dark-grey;
    }
    input[type="checkbox"]:checked+label::after {
      width: 28px;
      height: 14px;
      border-bottom: 2px solid @black;
      border-left: 2px solid @black;
      transform: rotate(-45deg);
      top: 15px;
      left: 11px;
    }
    input[type="text"] {
      margin-left: 24px;
      margin-right: 10px;
      padding-top: 0px;
      padding-left: 18px;
      padding-bottom: 15px;
      padding-top: 3px;
    }
    input[type="tel"] {
      margin-left: 24px;
      margin-right: 10px;
      padding-top: 0px;
      padding-left: 18px;
      padding-bottom: 15px;
      padding-top: 3px;
    }
    input::-webkit-input-placeholder {
      color: #d2d2d2;
      font-weight: normal;
      letter-spacing: 1px;
    }
    input:-moz-placeholder {
      color: #d2d2d2;
      font-weight: normal;
      letter-spacing: 1px;
    }
    input:-ms-input-placeholder {
      color: #d2d2d2;
      font-weight: normal;
      letter-spacing: 1px;
    }
  }
  .form__send {
    font-size: 17px;
    margin-left: 25px;
    margin-top: 7px;
    width: 229px;
  }
}

@media @desktop-widths {
  .form {
    padding-top: 90px;
  }
  .form__unit:nth-child(2) {
    padding-right: 139px;
    height: 192px;
  }
  .form__label--color {
    width: 102px;
  }
  .form__name-label {
    padding-left: 5px;
    width: 710px;
  }
  .form__unit:nth-child(4) {
    padding-left: 96px;
    padding-top: 62px;
    padding-right: 214px;
  }
  .form__unit:nth-child(5) {
    padding-left: 84px;
    padding-right: 214px;
  }
  .form__unit:nth-child(6) {
    padding-left: 93px;
  }
  .form__unit:nth-child(7) {
    padding-left: 206px;
    padding-top: 67px;
    padding-right: 203px;
    padding-bottom: 42px;
  }
  .form__h3 {
    &--tel {
      margin-right: 53px;
    }
    &--email {
      margin-right: 40px;
    }
    &--text {
      margin-right: 73px;
    }
  }
  .form__unit {
    &--tel {
      background-position: 665px 0px;
    }
    &--mail {
      background-position: 664px 0px;
    }
  }
  .form__order {
    textarea {
      width: 680px;
    }
  }
  .form__send {
    margin-left: 20px;
  }
}
