body {
  width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 7px;
}

.unit-header {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #231f20;
  background-color: @light-grey;
  padding-top: 53px;
  padding-bottom: 57px;
  text-align: center;
  letter-spacing: 0.8px;
}

.slider {
  font-size: 0;
}

@media @tablet-widths {
  body {
    width: 768px;
    margin: 0 auto;
  }
  .slider {
    display: flex;
  }
}

@media @desktop-widths {
  body {
    width: 1150px;
    margin: 0 auto;
  }
  .section-header {
    flex-direction: row-reverse;
  }
  .wrapper {
    order: 1;
  }
}
