.add-to-basket {
  position: absolute;
  top: 1045px;
  left: 0;
  background-color: @white;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 46px;
  box-shadow: 0 5px 10px @black;
  padding-left: 12px;
  padding-right: 12px;
}

 .add-to-basket__title {
    font-size: 25px;
    font-weight: bold;
    color: @black;
    line-height: 30px;
    display: block;
    padding-left: 74px;
    padding-right: 74px;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding-top: 9px;
    text-align: center;
  }

  .add-to-basket__text {
    font-size: 15px;
    font-weight: normal;
    color: @dark-grey;
    line-height: 30px;
  }

  .add-to-basket__size {
    width: 81px;
    display: inline-block;
    vertical-align: middle;
    background-color: @white;
    margin-top: 24px;
    margin-bottom: 33px;
    margin-right: 2px;
  }

@media @tablet-widths {
.add-to-basket {
  top: 1533px;
  left: 100px;
  border: 1px solid #c6c6c6;
padding-left: 105px;
  padding-right: 105px;
  }
  .add-to-basket__title {
    font-size: 30px;
    line-height: 57px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .add-to-basket__text {
    font-size: 17px;

  }
  .add-to-basket__size {
    margin-top: 20px;
    width: 113px;
    padding-top: 16px;
    margin-left: 2px;
    margin-right: 0;
  }
}
@media @desktop-widths {
  .add-to-basket {
  top: 1113px;
    left: 292px;
    padding-top: 24px;
  }
}
