.contacts {
  font-size: 15px;
  font-weight: normal;
  color: @dark-grey;
  line-height: 30px;
  margin-bottom: 40px;

  &__table {
    border-collapse: collapse;
    margin-bottom: 30px;
  }

  &__field {
    padding-right: 0px;
    display: block;
    width: 75px;

    &--address {
      vertical-align: top;
      padding-top: 30px;
    }
  }

  &__value {

    &--email {
      padding-top: 0;
      border-bottom: 1px solid @green;
    }

    &--address {
      padding-right: 30px;
      padding-top: 30px;
    }
  }
  &__map {
  margin-bottom: 30px;
}
}
@media @desktop-widths {

  .contacts {
    outline: 1px solid green;
    height: 638px;
    position: relative;
    padding-right: 30px;
  }
  .contacts .wrapper {
    float: left;
    width: 300px;
  }
  .contacts__map {
    float: right;
    width: 325px;
    height: 475px;

  }
  .contacts__btn {
    position: absolute;
    top: 400px;
    left: 150px;
  }
}
