.features {
  background-color: @grey;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 120px;

  &__slogan {
    font-size: 27px;
    font-weight: bold;
    color: #010000;
    line-height: 30px;
    text-align: center;
  }

  &__category {
    font-size: 19px;
    font-weight: bold;
    color: @white;
    line-height: 24px;
  }

  &__name {
    padding-left: 30px;

    &--interior {
    background-color: @light-green;
  }

    &--toys {
    background-color: @green;
  }
}
}
