.main-nav {
  font-size: 17px;
  color: @black;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  height: 78px;
  border-bottom: 1px solid @light-grey;
  border-top: 1px solid @light-grey;

  &__logo {
    width: 90px;
    height: 45px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 13px;
  }

  &__toggle {
    position: absolute;
    top: 30px;
    left: 250px;
  }

  &__list {
    margin-top: 0;
    width: 100%;
    list-style: none;
    padding-left: 0;
  }

  &__item {
    border-bottom: 1px solid @light-grey;
  }
  &__link {
    display: block;
    text-decoration: none;
    color: @black;
    padding-left: 75px;
    padding-top: 28px;
    padding-bottom: 26px;
    background-color: @white;

  }
}
@media @tablet-widths {

  .main-nav {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid @grey;
    height: 88px;

  &__logo {
    padding-left: 50px;
    padding-right: 230px;
    padding-top: 30px;
    padding-bottom: 13px;
    margin: 0;
  }

  &__list {
    margin-top: -88px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    }

  &__toggle {
    display: none;
  }

  &__item {
    border-bottom: none;
  }

  &__link--search {
    width: 10px;
    height: 30px;
    border-left: 1px solid @grey;
    border-right: 1px solid @grey;
    order: 2;
  }

  &__link--basket {
    width: 300px;
    height: 20px;
    font-size: 17px;
    line-height: 24px;
    padding: 30px 20px;
    order: 1;
  }

  &__link--catalog {
    width: 150px;
    height: 30px;
    order: 3;
    background-color: transparent;
  }

  &__link--custom {
    width: 150px;
    height: 30px;
    order: 4;
    background-color: transparent;
  }
}
}
@media @desktop-widths {

  .page-header__logo {
    height: 80px;
  }
}
