.main-nav {
  font-size: 17px;
  color: @black;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  height: 78px;
  border-bottom: 1px solid @light-grey;
  border-top: 1px solid @light-grey;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.main-nav__no-js {
  height: 394px;
}
.main-nav__icon-close--no-js {
  display: none;
}
.main-nav__logo svg {
  width: 87px;
  height: 45px;
  padding-top: 16px;
  margin-bottom: 10px;
  margin-left: 116px;
  margin-right: 3px;
}

.main-nav__logo-tablet,
.main-nav__logo-desktop {
  display: none;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  position: absolute;
  top: 28px;
  right: 30px;
}

.main-nav__close {
  display: block;
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__icon-menu {
  width: 20px;
}

.main-nav__link {
  text-decoration: none;
  color: @black;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: @white;
  border-bottom: 1px solid @light-grey;

  &:active {
    color: @link-down;
  }
  &--catalog {
    border-top: 1px solid @light-grey;
  }

&--search,
  &--basket {
  display: block;
  padding-left: 31px;

  svg {
    margin-right: 21px;
  }
}
}
.main-nav__link--search span {
  display: inline-block;
}

@media @tablet-widths {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid @grey;
    border-top: none;
    height: 88px;
    width: 100%;
  }
  .main-nav__logo {
    width: 200px;
    height: 60px;
    padding-left: 13px;
    padding-top: 16px;
    padding-bottom: 10px;
    margin-right: 157px;
    order: 1;

    &:hover {
      svg {
        fill: #666666;
      }
    }
    &:active {
      svg {
        fill: #b2b2b2;
      }
  }
  }
  .main-nav__logo svg {
    width: 180px;
    height: 35px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav__logo-tablet {
    display: block;
  }
  .main-nav__logo-mobile,
  .main-nav__logo-desktop {
    display: none;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__link {
    &--search {
      display: block;
      width: 30px;
      height: 24px;
      border-left: 1px solid @grey;
      border-right: 1px solid @grey;
      order: 2;
      border-bottom: none;
      padding-left: 32px;
      padding-top: 36px;
      padding-right: 20px;

      svg {
    width: 20px;
    height: auto;
    }
    }
    &--basket {
      font-size: 17px;
      line-height: 24px;
      padding-top: 30px;
      padding-left: 82px;
      order: 3;
      background-position: 31px 33px;
      background-size: 21px;
      border: none;
    }
    &--catalog {
      background-color: transparent;
      padding-top: 17px;
      padding-left: 49px;
      padding-right: 10px;
      padding-bottom: 10px;
      font-size: 15px;
      order: 4;
      border: none;
    }
    &--custom {
      background-color: transparent;
      padding-top: 17px;
      padding-left: 26px;
      padding-right: 100px;
      padding-bottom: 10px;
      font-size: 15px;
      order: 5;
      border: none;
    }
    &:hover {
      color: @link-hover;
    }
    &:active {
      color: #cacaca;
    }
  }

  p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    order: 6;
    padding-top: 2px;
    padding-left: 35px;
  }
  .main-nav__link--search:hover {
    svg {
    fill: #63d1bb;
    }
  }
  .main-nav__link--search:active {
    svg {
    fill: #d0f1ea;
    }
  }
  .main-nav__link--basket:hover {
    svg {
      fill: #63d1bb;
    }
  }
  .main-nav__link--basket:active {
    svg {
      fill: #d0f1ea;
    }
  }
}

@media @desktop-widths {
  .main-nav {
    border-top: none;
  }
  .main-nav__logo {
    order: 3;
    width: 200px;
    height: 79px;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 46px;
    padding-right: 0;
    margin-right: 49px;
    &:hover {
      svg {
        fill: #666666;
      }
    }
    &:active {
      svg {
        fill: #b2b2b2;
      }
    }
    svg {
      width: 150px;
      height: 35px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .main-nav__logo-desktop {
    display: block;
  }
  .main-nav__logo-mobile,
  .main-nav__logo-tablet {
    display: none;
  }
  .main-nav__link {
    font-size: 17px;
    line-height: 24px;
    &--catalog {
      order: 1;
      padding-top: 31px;
      padding-right: 37px;
      padding-left: 49px;
      border-right: 1px solid @light-grey;
    }
    &--custom {
      order: 2;
      padding-top: 30px;
      padding-left: 34px;
      padding-right: 30px;
    }
    &--search {
      order: 4;
      border-bottom: none;
      padding-left: 32px;
      padding-right: 21px;
    }
    &--basket {
      order: 5;
      border: none;
      padding-right: 10px;
      padding-left: 30px;

      svg {
        margin-right: 26px;
      }
    }
    &--new {
      order: 6;
      font-size: 15px;
      padding-top: 17px;
      padding-left: 51px;
      padding-right: 25px;
      border: none;
      background-color: transparent;
    }
    &--sale {
      order: 6;
      font-size: 15px;
      padding-top: 17px;
      padding-left: 36px;
      padding-right: 25px;
      border: none;
      background-color: transparent;
    }
    &:hover {
      color: @link-hover;
    }
  }
  .main-nav__link--search:hover {
    svg {
    fill: #63d1bb;
    }
  }
  .main-nav__link--search:active {
    svg {
    fill: #d0f1ea;
    }
  }
  .main-nav__link--basket:hover {
    svg {
      fill: #63d1bb;
    }
  }
  .main-nav__link--basket:active {
    svg {
      fill: #d0f1ea;
    }
  }
  .main-nav p {
    order: 7;
    margin-left: auto;
    padding-right: 30px;
    margin-right: 20px;
  }
}
