.page-footer {
  background-color: @grey;
  font-size: 19px;
  font-weight: bold;
  color: @black;
  line-height: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;

  &__logo {
    display: none;
  }

  &__social {
    padding: 20px 60px;

  }

  &__copyright {
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 38px;
  }
}

@media @tablet-widths {
  .page-footer {
    height: 110px;
    display: flex;
    padding-top: 20px;
  }

  .page-footer__logo {
    display: block;
    width:113px;
  }
  .page-footer__social {
    width: 200px;
  }
  .page-footer__copyright {
    width: 200px;
  }
}
@media @desktop-widths {

}
