.page-footer {
  background-color: @grey;
  font-size: 19px;
  font-weight: bold;
  color: @black;
  line-height: 18px;
  padding-left: 30px;
  padding-left: 30px;

  &__social {
    padding: 20px 60px;

  }

  &__copyright {
    padding: 20px 40px;
  }
}
