.product-week {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  margin-bottom: 3px;
  padding-bottom: 0px;
  padding-top: 10px;

  &__info {
    color: @dark-grey;
    line-height: 24px;
    width: 260px;
    border-collapse: collapse;
    margin-bottom: 28px;
    tr {
      border-bottom: 1px solid @light-grey;
      height: 40px;
    }
  }
  &__value {
    width: 95px;
  }
  &__price {
    font-size: 17px;
    font-weight: bold;
    color: @dark-grey;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
  }
  &__buy {
    font-size: 17px;
    color: @dark-grey;
    line-height: 16px;
    text-decoration: none;
  }
}
.product-week:after {
  content: "";
  display: block;
  height: 7px;
  padding: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 110%;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 6px;
}
@media @tablet-widths {
  .product-week {
    margin-bottom: 10px;
    padding-top: 22px;
  }
  .product-week__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .product-week__subtitle {
    width: 80px;
    text-align: center;
    margin-top: 39px;
    margin-right: 43px;
  }
  .product-week__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 465px;
  }
  .product-week__font {
    order: 1;
  }
  .product-week__info {
    margin-left: 13px;
    width: 300px;
    text-align: left;
    order: 2;
    margin-bottom: 35px;

    tr {
      padding-top: 4px;
      height: 34px;
      display: block;
    width: 290px;
    }
  }
  .product-week__img {
order: 5;
    margin-left: 10px;
    margin-top: 18px;
  }
  .product-week__price {
    width: 335px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 35px;
order: 3;
  }
  .product-week__buy {
    margin-left: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 17px;
    line-height: 16px;
order: 4;
  }
  .product-week:after {
width: 110%;
    margin-left: -35px;
    padding-bottom: 10px;
  }
}

@media @desktop-widths {
  .product-week {
padding-top: 101px;
    padding-left: 93px;
  }

    .product-week__subtitle {
      margin-top: 42px;
      margin-right: 32px;
    }
  .product-week__inner {
    outline: 1px solid red;
    margin-left: 115px;
    padding-top: 3px;
    height: 530px;
  }
  .product-week__info {
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 92px;
  }
  .product-week__price {
margin-bottom: 34px;
  }
  .product-week__buy {
    margin-left: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 17px;
    line-height: 16px;
order: 4;
  }
  .product-week__img {
    margin-left: 5px;
    margin-top: -65px;
  }
  .product-week:after {

    margin-left: -117px;
    padding-bottom: 20px;
    margin-top: 50px;
    height: 23px;
    width: 115%;
  }
  }
