.product-week {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  margin-bottom: 3px;
  padding-bottom: 40px;
  padding-top: 10px;
  position: relative;
  &__title {
    font-size: 25px;
    font-weight: bold;
    color: @black;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  &__info {
    color: @dark-grey;
    line-height: 24px;
    width: 260px;
    border-collapse: collapse;
    margin-bottom: 28px;
    tr {
      border-bottom: 1px solid @light-grey;
      height: 40px;
    }
  }
  &__value {
    width: 95px;
  }
  &__price {
    font-size: 17px;
    font-weight: bold;
    color: @dark-grey;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
  }
  &__buy {
    font-size: 17px;
    color: @dark-grey;
    line-height: 16px;
    text-decoration: none;
  }
}

@media @tablet-widths {
  .product-week {
    height: 500px;
    margin-bottom: 88px;
  }
    .product-week__title {
      flex-grow: 1;
      font-size: 43px;
      line-height: 50px;
      padding-left: 17px;
      padding-top: 25px;
    }

    .product-week__subtitle {
      width: 80px;
      text-align: center;
      margin-top: 38px;
    }
  .font__product-week {
    padding-left: 18px;
    width: 300px;
    font-size: 17px;
    line-height: 30px;
    padding-top: 13px;
    margin-bottom: 31px;
  }
  .product-week__info {
    margin-left: 18px;
    width: 300px;
  }
  .product-week__img {
    margin-left: 355px;
    margin-top: -266px;
  }
  .product-week__price {
    width: 340px;
    margin-top: -27px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 35px;
  }
  .product-week__buy {
    margin-left: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 17px;
    line-height: 16px;
  }
}

@media @desktop-widths {
  .product-week {
    padding-top: 90px;
    justify-content: flex-end;
    margin-bottom: 200px;

    &__title {
      font-size: 53px;
      line-height: 57px;
      z-index: 0;
      flex-basis: 600px;
    }
    &__img {
      margin-top: -400px;
      z-index: 1;
    }
  }
  .section__header {}
  .product-week__inner {}
  .product-week__buy {}
  .product-week__img {}
}
