.product {

  &__inner {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 14px;
  }

  &__text {
    border: 2px solid #ededed;
    padding-left: 26px;
    padding-bottom: 26px;
  }

  &__name {

    &--video {
      font-size: 17px;
      margin-top: 0px;
      padding-left: 88px;
      padding-top: 22px;
      padding-bottom: 25px;
      border-top: 2px solid #ededed;
      border-left: 2px solid #ededed;
      border-right: 2px solid #ededed;
      margin-bottom: 60px;
    }
  }

  &__description {
    font-size: 13px;
    font-weight: normal;
    color: @dark-grey;
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
    color: @black;
    line-height: 24px;
  }
}
@media @tablet-widths {
  .product {
    padding-top: 63px;
    margin-left: 20px;
  }
  .product__inner{
    display: flex;
    flex-direction: row;
    height: 335px;
    justify-content: center;
    margin-bottom: 0;
  }
  .product__inner--video {
    flex-direction: column;
    width: 666px;
  }
  .product__name--video {
    order: 2;
  }
  .product__text--video {
    order: 3;
  }
  video {
    order: 1;
  }
}

@media @desktop-widths {
  .product {
    display: inline-block;
    width: 316px;
  }
  .product__inner{
    flex-direction: column;
  }
  .product__name {
    font-size: 20px;
    line-height: 24px;
  }
  .product-video {
    flex-direction: column;
  }
}
