.product-week {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  margin-bottom: 3px;
  padding-bottom: 40px;
  padding-top: 10px;
  position: relative;

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: @black;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__info {
    color: @dark-grey;
    line-height: 24px;
    width: 260px;
    border-collapse: collapse;
    margin-bottom: 28px;

    tr {
      border-bottom: 1px solid @light-grey;
      height: 40px;
    }
  }

  &__value {
    width: 95px;
  }

  &__price {
    font-size: 17px;
    font-weight: bold;
    color: @dark-grey;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
  }

  &__buy {
    font-size: 17px;
    color: @dark-grey;
    line-height: 16px;
    text-decoration: none;
  }
}

@media @tablet-widths {
  .product-week {
    height: 500px;
    display: flex;

    &__title {
      font-size: 43px;
      line-height: 50px;
      margin-top: 15px;
      margin-left: 20px;
      width: 230px;
  }
    .product-week__subtitle {
      width: 80px;
    }
  }
  .font__product-week {
    float: left;
    width: 300px;
  }
  .product-week__info {
    float: left;
    width: 300px;
  }
  .product-week__img {
    float: right;
  }
  .product-week__price {
    float: left;
    width: 300px;
  }
  .product-week__buy {
    float: left;
  }
}

@media @desktop-widths {
  .product-week {
    position: relative;
  }
  .section__header {
  display: flex;
    flex-direction: row-reverse;
  }
  .product-week__inner {
    display: flex;
    flex-direction: column;
  }
  .product-week__buy {
    position: absolute;
    left: 50px;
    top: 450px;
  }
  .product-week__img {
    position: absolute;
    left: 500px;
    top: 100px;
  }
  }
