.reviews {
  font-size: 15px;
  font-weight: normal;
  color: @dark-grey;
  line-height: 30px;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__author-name {
    font-size: 18px;
    font-weight: bold;
    color: @black;
    line-height: 24px;
    font-style: normal;
  }

  &__author-insta {
    font-size: 18px;
    color: @dark-grey;
    line-height: 30px;
    text-decoration: none;
  }
  &__prev, &__next {
    margin-top: 30px;
    width: 128px;
    height: 50px;
    margin-bottom: 37px;
  }
}
@media @tablet-widths {

  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    margin-left: -30px;
    padding-left: 30px;
  }

  .reviews__author-name {
    padding-left: 20px;
    font-size: 17px;
    margin-right: 300px;
  }
  .reviews__author-insta {
    margin-left: 18px;
  }
  .reviews__prev {

  }
  .reviews__prev,
  .reviews__next {
    margin-top: 40px;
    margin-bottom: 0;
    align-self: flex-end;
  }
  .reviews__write {
    margin: 0;
    align-self: flex-end;
    order: -1;
    padding: 16px 0px;
    width: 173px;
    margin-top: 27px;
    margin-right: 20px;
  }
}
@media @desktop-widths {
  .reviews {
outline: 1px solid red;
    margin-left: 18px;
padding-bottom: 48px;
    margin-bottom: 50px;
  }
  .reviews__item {
margin-left: 124px;
  }
}
