.social-link {
background-position: center;
  background-repeat: no-repeat;
outline: 1px solid green;

  &--insta {
    display: inline-block;
    width: 30px;
    height: 30px;
  background-image: url("../img/icon-insta.svg");

  background-size: 22px;
    margin-right: 25px;



}
  &--fb {
    display: inline-block;
    width: 30px;
    height: 30px;
  background-image: url("../img/icon-fb.svg");

  background-size: 15px;
    margin-right: 25px;
}
  &--tw {
    display: inline-block;
    width: 30px;
    height: 30px;
  background-image: url("../img/icon-twitter.svg");

  background-size: 24px;
}
}
