.visually-hidden {
  display: none;
}

@media @tablet-widths {
  .visually-hidden {
    display: block;
  }
  .visually-hidden span {
    display: none;
  }
  .visually-hidden.add-to-basket {
    display: none;
  }
}
